.bg-def {
    background-color: #184680;
    opacity: 0.9;
}

#bg-dashcard {
    background-color: #184680;
    max-width: 22rem;
}

a.nav-link {
    color: white;
}

a#side_aktif {
    color: #918e8c;
}

a.nav-link:focus, a.nav-link:hover {
    color: #918e8c;
}

a#pills-profile-tab, a#pills-home-tab, a#pills-contact-tab {
    color: black;
}

a#pills-home-tab.active,a#pills-profile-tab.active,a#pills-contact-tab.active {
    color: white;
}


a#pills-tab:focus, a#pills-tab:hover {
    color: black;
}

.sb-topnav1{
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
}
