.bg-def {
    background-color: #184680;
    opacity: 0.9;
}

#bg-dashcard {
    background-color: #184680;
    max-width: 22rem;
}

a.nav-link {
    color: white;
}

.sb-topnav1{
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
}